@use '../abstracts';

.hero-top {
  &__container {
    position: relative;
  }

  &__img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }

  &__desktop {
    position: absolute;
    top: 42.1%;
    left: 13.1%;
    max-width: 50rem;
  }

  &__title {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }

  &__desc {
    @include abstracts.para($color: #ffffff, $lh: 2.4rem, $fw: 400, $ta: left);
  }

  &__card {
    background: #a7896f;
    max-width: 1080px;
    margin-top: -7rem;

    &-body {
      padding: 0 110px;
    }
  }
}

.hero-heading {
  &__image {
    position: relative;

    &-image {
      width: 100%;
      height: 520px;
      object-fit: cover;
    }

    &-heading {
      @include abstracts.heading(
        $family: Playfair Display,
        $size: 3.6rem,
        $style: normal,
        $weight: 700,
        $height: 4.4rem,
        $letterSpacing: 0,
        $align: left,
        $color: #fff
      );
      position: absolute;
      top: 80%;
      left: 3%;
    }
  }
}

.hero-center {
  &__image {
    position: relative;

    &-image {
      width: 100%;
    }

    &-heading {
      @include abstracts.heading(
        $family: Playfair Display,
        $size: 3.6rem,
        $style: normal,
        $weight: 700,
        $height: 4.4rem,
        $letterSpacing: 0,
        $align: left,
        $color: #fff
      );
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.para {
  max-width: 85.7rem;

  &__style {
    @include abstracts.para(
      $color: #000000,
      $lh: 2.4rem,
      $fw: 400,
      $ta: center
    );
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .para {
    max-width: 100%;
    padding: 0 5rem;
  }

  .hero-top {
    &__img {
      width: 100%;
      object-fit: cover !important;
      height: 70vh !important;
    }

    &__title {
      font-family: Playfair Display;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 44px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
      margin-bottom: 2.4rem;
    }

    &__desc {
      text-align: center;
    }

    &__card {
      background: #a7896f;
      max-width: 85%;
      margin-top: -10rem;
      padding-top: 32px;
      padding-bottom: 24px;

      &-body {
        padding: 0 24px;
      }
    }
  }

  .hero-heading {
    &__image {
      position: relative;

      &-image {
        width: 100%;
        object-fit: cover !important;
        height: 70vh !important;
      }

      &-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .hero-center {
    &__image {
      position: relative;

      &-image {
        width: 100%;
        object-fit: cover !important;
        height: 70vh !important;
      }

      &-heading {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
