@use '../abstracts';

.contact-form {
  margin-top: 6.4rem;

  &__para {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #a64f02;
    max-width: 44.4rem;
    margin-bottom: 24px;
  }

  &__heading {
    font-family: Playfair Display;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 0em;
    text-align: left;
    color: #a64f02;
    margin-top: 6.4rem;
  }

  &__social {
    max-width: 250px;
    margin-top: 1.6rem;

    &-link {
      margin-right: 2.2rem;
    }

    &-icon {
      font-size: 2.5rem;
      color: #a64f02;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact-form {
    &__para {
      text-align: center;
    }

    &__heading {
      text-align: center;
      margin-top: 4.8rem;
    }

    &__social {
      max-width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 7.2rem;
    }
  }
}
