@use '../abstracts';

.corporate-section2 {
  &__para {
    margin-top: 9rem;
    margin-bottom: 9rem;
    padding: 0 15rem;

    &-desc {
      @include abstracts.para(
        $color: #000,
        $lh: 2.4rem,
        $fw: 400,
        $ta: justified
      );
    }
  }

  &__img {
    padding: 0 3rem;
    &-img {
      width: 100%;
      height: 41.2rem;
      object-fit: cover;
    }
  }

  &__points {
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 3rem;

    &-heading {
      margin-bottom: 1.2rem;
      margin-top: 7.6rem;
    }

    &-text {
      @include abstracts.para($color: #000, $lh: 2.4rem, $fw: 400, $ta: left);
    }
  }
}

.corporate-section3 {
  margin-top: 10rem;
  padding-bottom: 10rem;
}

@media only screen and (max-width: 600px) {
  .corporate-section2 {
    &__para {
      margin-top: 9rem;
      margin-bottom: 9rem;
      padding: 0 1rem;

      &-desc {
        @include abstracts.para(
          $color: #000,
          $lh: 2.4rem,
          $fw: 400,
          $ta: justified
        );
      }
    }

    &__img {
      padding: 0 1rem;
      &-img {
        width: 100%;
        height: 41.2rem;
        object-fit: cover;
      }
    }

    &__points {
      font-family: Playfair Display;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      padding: 0 3rem;

      &-heading {
        margin-bottom: 1.2rem;
        margin-top: 7.6rem;
      }

      &-text {
        @include abstracts.para($color: #000, $lh: 2.4rem, $fw: 400, $ta: left);
      }
    }
  }
}
