@use '../abstracts';

.experiences-types {
  margin-bottom: 14.8rem;

  &__col {
    margin-top: 11.6rem;
  }

  &__card {
    padding: 0 180px;
    height: 100%;

    &-image {
      height: 42.3rem;
      object-fit: cover;
    }

    &-body {
      background: #fff;
      padding-bottom: 3.2rem;
      height: 100%;
    }

    &-heading {
      @include abstracts.heading(
        $family: Playfair Display,
        $size: 2.4rem,
        $style: normal,
        $weight: 400,
        $height: 3.2rem,
        $letterSpacing: 0,
        $align: left,
        $color: #a64f02
      );
      margin-top: 2.4rem;
      margin-bottom: 1.6rem;
    }

    &-desc {
      @include abstracts.heading(
        $family: Montserrat,
        $size: 1.4rem,
        $style: normal,
        $weight: 400,
        $height: 2.4rem,
        $letterSpacing: 0,
        $align: justified,
        $color: #000
      );
      margin-bottom: 1.2rem;
    }

    &-link {
      @include abstracts.heading(
        $family: Montserrat,
        $size: 1.2rem,
        $style: normal,
        $weight: 600,
        $height: 1.6rem,
        $letterSpacing: 0.1em,
        $align: left,
        $color: #a64f02
      );
      text-decoration: underline;
    }
  }
}

.experience-top {
  &__margin {
    margin-top: 10.4rem;
  }

  &__row {
    padding: 0 70px;
  }

  &__col {
    position: relative;

    &-image {
      width: 100%;
      height: 40rem;
      object-fit: cover;
    }
  }

  &__card {
    background: #fff;
    padding: 3rem 3.5rem;
    z-index: 2;
    &-heading {
      @include abstracts.heading(
        $family: Playfair Display,
        $size: 2.4rem,
        $style: normal,
        $weight: 400,
        $height: 3.2rem,
        $letterSpacing: 0,
        $align: left,
        $color: #a64f02
      );
    }

    &-desc {
      width: 26.8rem;

      @include abstracts.heading(
        $family: Montserrat,
        $size: 1.4rem,
        $style: normal,
        $weight: 400,
        $height: 2.4rem,
        $letterSpacing: 0,
        $align: justified,
        $color: #000
      );
    }
  }

  &__image {
    position: relative;

    &-image {
      width: 100%;
      height: 520px;
      object-fit: cover;
    }

    &-heading {
      @include abstracts.heading(
        $family: Playfair Display,
        $size: 3.6rem,
        $style: normal,
        $weight: 700,
        $height: 4.4rem,
        $letterSpacing: 0,
        $align: left,
        $color: #fff
      );
      position: absolute;
      top: 45%;
      left: 23%;
    }

    &-desc {
      @include abstracts.heading(
        $family: Montserrat,
        $size: 1.4rem,
        $style: normal,
        $weight: 500,
        $height: 2.4rem,
        $letterSpacing: 0,
        $align: left,
        $color: #fff
      );

      position: absolute;
      top: 54%;
      left: 23%;
      max-width: 757px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .experiences-types {
    &__card {
      padding: 0 0;
    }

    &__col {
      margin-top: 3rem;
      padding: 0;
    }

    &__card {
      padding: 0;

      &-body {
        background: transparent;
        padding-bottom: 3.2rem;
      }

      &-heading {
        margin-top: 0;
      }

      &-image {
        margin-top: 8px;
      }
    }
  }

  .experience-top {
    &__margin {
      margin-top: 4rem;
    }

    &__col {
      position: relative;

      &-image {
        height: 40rem;
      }
    }

    &__card {
      background: #fff;

      padding: 3rem 3.5rem;
      margin-top: -15rem;
      z-index: 2;

      &-desc {
        margin-top: 1.2rem;
      }
    }

    &__row {
      padding: 0 0;
      display: flex;
    }
    &__image {
      position: relative;

      &-image {
        width: 100%;
        object-fit: cover !important;
        height: 70vh !important;
      }

      &-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-desc {
        display: none;
      }
    }
  }
}
