.wellness-lp {
  &__image {
    width: 100%;
  }

  &__column {
    margin-top: 7.2rem;
  }
  &__card:hover {
    transform: scale(1.05);
  }

  &__card {
    margin-top: -10rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &-title {
      font-family: Playfair Display;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;
      color: #a64f02;
      margin-bottom: 2.4rem;
    }

    &-desc {
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 3.6rem;
    }

    &-duration {
      font-family: Montserrat;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}

.wellness-details {
  &__modal {
    &-btn {
      margin-top: 10rem;
      margin-bottom: 2.8rem;
    }

    &-title {
      font-family: Playfair Display;
      font-size: 28px;
      font-style: normal;
      font-weight: 400;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: center;
      color: #a64f02;
      margin-bottom: 3rem;
    }

    &-executive {
      font-family: Playfair Display;
      font-size: 28px;
      font-style: normal;
      font-weight: 600;
      line-height: 37px;
      letter-spacing: 0em;
      text-align: left;
      color: #c09209;
    }

    &-touch {
      font-family: Montserrat;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
    }

    &-contact {
      margin-top: 12.5rem;
    }

    &-row {
      max-width: 63rem;
    }
  }

  &__modal-header {
    border-bottom: none !important;

    .btn-close {
      font-size: 16px;
      padding: 1rem;
    }
  }

  &__img {
    width: 100%;
  }

  &__card {
    max-width: 86rem;
    background: #fff;
    padding: 0 4.8rem 4.8rem 4.8rem;
    margin-top: -7.5rem;

    &-row {
      margin-top: 1.5rem;
    }
  }

  &__title {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 5.6rem;
    color: #a64f02;
  }

  &__desc {
    margin-top: 4.5rem;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  &__duration {
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 0;
  }

  &__recommendation {
    margin-top: 8.4rem;

    &-col {
      margin-top: 6.8rem;
    }
  }

  &__subtitle {
    font-family: Playfair Display;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #a64f02;
  }

  &__para {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
  }

  &__parabein {
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 14px;
  }

  &__circle {
    height: 75px;
    width: 75px !important;
    border-radius: 50%;
    margin-bottom: 3.2rem;
  }

  &__benefits {
    margin-top: 12.4rem;

    &-cardbody {
      margin-top: 3.2rem;
      margin-left: -300px;
    }

    &-img {
      width: 100%;
      height: 412px;
      object-fit: cover;
    }

    &-title {
      font-family: Playfair Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff;
    }

    &-card {
      background-color: #fff;
      padding: 4rem;
    }
  }

  &__inclusions {
    margin-top: 12.4rem;

    &-cardbody {
      margin-top: 3.2rem;
      margin-right: -330px;
      z-index: 3;
    }

    &-img {
      width: 100%;
      height: 412px;
      object-fit: cover;
    }

    &-title {
      font-family: Playfair Display;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      color: #fff;
    }

    &-card {
      background-color: #fff;
      padding: 4rem;
    }
  }
  &__sessions {
    margin-top: 8.4rem;

    &-button {
      margin-top: 1.2rem;
      margin-bottom: 7.2rem;
    }

    &-max {
      width: 1080px;
      margin-top: 7rem;
    }

    &-tab {
      background: #ffffff;
      border: 1px solid #a7896f;
      padding: 4.8rem;
    }

    &-pricediv {
      text-align: center;
      margin-top: 6.4rem;
    }

    &-price {
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
    }

    &-startat {
      font-family: Montserrat;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: center;
    }
  }

  &__listsessionname {
    list-style: none;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 1.6rem;
  }
}

.nav-item button {
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0.8rem 3.3rem;
  color: #fff;
  border-radius: 0 !important;
  background: #a7896f !important;
}

.nav-item :hover {
  color: #fff !important;
}

.nav-item .active {
  color: #a7896f !important;
  background: #fff !important;
  border: 1px solid #a7896f !important;
}

@media only screen and (max-width: 600px) {
  .wellness-lp {
    &__column {
      margin-top: 6.4rem;
    }

    &__card {
      max-width: 100%;
    }
  }

  .wellness-details {
    &__modal {
      &-btn {
        margin-top: 5rem;
        margin-bottom: 0rem;
      }

      &-title {
        font-family: Playfair Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: center;
        color: #a64f02;
        margin-bottom: 1rem;
      }

      &-executive {
        font-family: Playfair Display;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: left;
        color: #c09209;
      }

      &-touch {
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
      }

      &-contact {
        margin-top: 12.5rem;
      }

      &-row {
        max-width: 63rem;
      }
    }

    &__modal-header {
      border-bottom: none !important;

      .btn-close {
        font-size: 16px;
        padding: 1rem;
      }
    }

    &__img {
      width: 100%;
      object-fit: cover !important;
      height: 70vh !important;
    }

    &__card {
      max-width: 90%;
      padding: 0 2.2rem 2.8rem 2.2rem;

      &-button {
        margin-top: 2.7rem;
      }
    }

    &__title {
      margin-top: 3.2rem;
    }

    &__desc {
      margin-top: 2.4rem;
    }

    &__recommendation {
      margin-top: 7.2rem;

      &-col {
        margin-top: 4.2rem;
      }
    }

    &__benefits {
      margin-top: 7.6rem;

      &-cardbody {
        margin-top: 0rem;
        margin-left: 0px;
      }

      &-col {
        margin-top: -20rem;
        padding: 3rem;
      }

      &-title {
        text-align: center;
        color: #fff;
        margin-bottom: 3rem;
      }

      &-card {
        background-color: #fff;
        padding: 4rem;
      }

      &-img {
        width: 100%;
        height: 412px;
        object-fit: cover;
      }
    }
    &__inclusions {
      margin-top: 7.6rem;

      &-col {
        margin-top: -20rem;
        padding: 3rem;
      }

      &-cardbody {
        margin-top: 0rem;
        margin-right: 0px;
        z-index: 3;
      }

      &-title {
        text-align: center;
        color: #fff;
        margin-bottom: 3rem;
      }

      &-card {
        background-color: #fff;
        padding: 4rem;
      }

      &-img {
        width: 100%;
        height: 412px;
        object-fit: cover;
      }
    }

    &__sessions {
      margin-top: 7.6rem;

      &-max {
        width: 100%;
      }
    }

    &__tab {
      width: 100% !important;
    }
  }

  .nav-item button {
    font-size: 14px;
    padding: 0.4rem 1.8rem;
    width: 100% !important;
    text-align: center;
  }
}
