/* Start of navbar styles */

.nav-main-link-header:hover {
  color: #000000;
}

.nav-link-main:hover {
  color: #000000;
  text-decoration: underline;
}
.nav-link-main:focus {
  text-decoration: underline;
}

.dropdown-button-nav {
  color: #000 !important;
  background: transparent;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  border-radius: 0px !important;
}
.dropdown-toggle::after {
  display: none;
}

.nav-item:hover .dropdown-menu {
  display: block !important;
}

.position-static {
  display: flex;
  justify-content: center;
}

.dropdown-button-nav.btn-primary.dropdown-toggle {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.dropdown-button-nav:hover {
  color: #000 !important;
  background: none;
  outline: none;
  background-color: transparent;
  border-radius: 0px !important;
  border-bottom: 2px solid var(--secondary-color) !important;
  box-shadow: none;
}

.dropdown-button-nav:focus {
  color: #000;
  background: none;
  outline: none !important;
  border-bottom: 2px solid var(--secondary-color) !important;
  box-shadow: none !important;
}
.dropdown-button-nav-menu {
  margin-top: 0px !important;
  border-radius: 0px;
  background: rgba(250, 244, 239, 0.9);
  border: none;
}

.nav-container-drop {
  position: relative;
  width: 100%;
}

.nav-main-drop > ul > li {
  display: inline-block;
  position: relative;
  padding: 3px 10px 3px 0;
  z-index: 100;
}

/* SECOND LEVEL */

.nav-main-drop > ul > li > ul {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0 100%;
  margin: 0 -100%;
  z-index: 101;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 240, 240, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-main-drop > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.nav-main-drop > ul > li > ul > li {
  padding: 3px 0;
}

.nav-main-drop > ul > li:hover .drop {
  font-weight: bold;
}

.nav-container {
  background: var(--primary-background);
}

.position-static {
  margin-right: 2.4rem;
}

.primary-button {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.07em;
  color: #ffffff;
  background: var(--primary-color);
  border: none;
  padding: 10px 10px;
  justify-content: center;
  height: 36px;
  width: 128px;
}

.nav-links {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #000000 !important;
}

.main-nav {
  height: 100%;
  display: flex;
  background: var(--primary-background);
  align-items: center;
}

.logo-brand-nav {
  width: 158.67px;
  height: 68px;
}

.nav-toggle-button {
  border: none;
}

.nav-toggle-button:focus {
  outline: none;
  box-shadow: none;
}

.nav-drop-links {
  background: var(--primary-background);
  width: 100% !important;
  padding: 10px 0px;
}

.bar1,
.bar2,
.bar3 {
  width: 28px;
  height: 2px;
  background-color: var(--footer-brown);
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 5px;
}

/* End of navbar styles */

.dropdown-item-position {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
  width: auto;
  margin-top: 8px;
}

.dropdown-item:hover {
  color: #000;
  text-decoration: none;
  background-color: transparent !important;
}

.dropdown-item:active {
  color: #000;
  text-decoration: none;
  background-color: transparent !important;
}
.ddi1 {
  margin-left: calc(21% + 100px);
}
.ddi2 {
  margin-left: calc(46% - 100px);
}
.ddi3 {
  margin-left: calc(57% - 100px);
}
.ddi4 {
  margin-left: calc(68.5% - 100px);
}
.ddi5 {
  margin-left: calc(77% - 100px);
}

@media only screen and (max-width: 1400px) {
  .ddi1 {
    margin-left: calc(9% + 100px);
  }
  .ddi2 {
    margin-left: calc(37% - 100px);
  }
  .ddi3 {
    margin-left: calc(50% - 100px);
  }
  .ddi4 {
    margin-left: calc(63.5% - 100px);
  }
  .ddi5 {
    margin-left: calc(73% - 100px);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .ddi1 {
    margin-left: 0%;
  }
  .ddi2 {
    margin-left: 0%;
  }
  .ddi3 {
    margin-left: 0%;
  }
  .ddi4 {
    margin-left: 0%;
  }
  .ddi5 {
    margin-left: 0%;
  }

  /*Start of  Utilities */
  .hbs {
    display: none;
  }
  .sss {
    display: block;
  }

  .primary-heading {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: var(--secondary-color);
  }

  /*End of Utilities */

  .logo-main-nav {
    width: 132px;
  }
  .logo-phone-nav {
    width: 24px;
    height: 24px;
  }

  .primary-button-nav {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.07em;
    color: #ffffff;
    background: var(--primary-color);
    border: none;
    padding: 10px 10px;
    justify-content: center;
  }

  .dropdown-button-nav {
    border-bottom: 1px solid #a7896f !important;
    padding: 10px 0px;
  }

  .dropdown-button-nav:focus {
    color: #a7896f !important;
  }

  .dropdown-item-position {
    display: flex;
    justify-content: flex-start;
    width: 100% !important;
  }

  .nav-toggle-button {
    margin: 0 !important;
  }

  /*End of Nav */

  .position-static {
    display: block;
    justify-content: center;
    margin-right: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
